.head {
    display: flex;
}

.button {
    background-color: #0062FF22;
    color: #0062FF;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 400;
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-left: 1em;
    margin-bottom: 1em;
}

.empy-space {
    flex: 1 1;
}

customColumnOrder {
    background-color: #0062FF22;
    color: #0062FF;
}