/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
html, body { height: 100%; }
body { margin: 0; font-family: "Montserrat-Regular"; }


.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.form-submit-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}

.form-submit-container button{
  width: 22%;
  margin-left: 4%;
}

.cancel-button{
  background-color: rgba(0,98,255, .3);
  color: #0062FF;
}

.submit-button{
  background-color: #0062FF;
  color: #FFFFFF;
}

.delete-submit-container {
  padding-top: 3%;
  width: 100%;
  display: flex;
  justify-content:left;
}

.delete-submit-container button {
  width: 12%;
  margin-right: 4%;
}

.delete-cancel-button {
  background-color: rgba(0,98,255, .3);
  color: #0062FF;
}

.delete-submit-button{
  background-color: #FF5722;
  color: #FFFFFF;
}


.lable{
  min-width: 80px;
  
  overflow: hidden;
}
.select{
  max-width: 88px;
  padding-right: 10px;
 
}

.filtercancelbutton{
    background-color: rgba(0,98,255, .3);
    color: #0062FF;
  
  }
  .filtersavebutton{
    background-color: #0062FF;
    color: #FFFFFF;
    margin-left: 30px !important;
  
  }
  .filter-item-card{
  
    padding:20px;
  }
  .filter-actions-container{
    text-align: center;
  }
  .filter-content-div{
  display: flex;
    margin-bottom: 40px;
    align-items: flex-end;
    font: -webkit-small-control !important;
  
  }



@keyframes slide {
    100% { top: 4%; }
  }

  @keyframes slideComment {
    100% { top: 10%; }
  }
  
  .dialog-bottom-panel {
    position: fixed !important;
    top: 90%;
    height: 96%;
    animation: slide 0.3s forwards;
  
    .mat-dialog-container {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      overflow: hidden;
      padding-right: 0px;
      
    }
  }

  .comment-panel {
    position: fixed !important;
    top: 90%;
    height: 90%;
    animation: slideComment 0.3s forwards;
  
    .mat-dialog-container {
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .cdk-overlay-dark-backdrop {
      background: rgb(140 140 140 / 15%);
  }

  .mat-dialog-container {
      box-shadow: none;
  }



@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
content: '';
box-sizing: border-box;
position: absolute;
top: 50%;
left: 50%;
width: 30px;
height: 30px;
margin: auto;
border-radius: 50%;
border: 2px solid #ffffff;
border-top-color: #000000;
animation: spinner .8s linear infinite;
z-index: 100;
}

.overlay {
position: fixed;
display: block;
width: 100%;
height: 100%;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0,0,0,0.5);
z-index: 99; 
overflow: hidden;
cursor: pointer;
}

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mat-5by1-blue{
  background-color: #0062FF;
  color: #FFFFFF;
}
.mat-5by1-white{
  background-color: #FFFFFF;
  color: #0062FF;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




@media only screen and (max-width: 768px) {
  
  .delete-submit-container button {
    width: 35%;
    margin-right: 4%;
  }

}