<h2 class="form-header">{{formHeader}} </h2>

<div *ngIf="loading">
  <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
</div>
<form [style.display]="loading ? 'none': ''" [formGroup]="fboForm" (ngSubmit)="upsertBill()">


  <mat-form-field class="fbo-create-form">
    <mat-label>Vendor</mat-label>

    <input type="text" matInput placeholder="Enter vendor Name Name Ex. Xpeditions.." formControlName="vendor"
      [matAutocomplete]="autoCategory">
    <mat-autocomplete autoActiveFirstOption #autoCategory="matAutocomplete" [displayWith]="extractNameOfObject">
      <mat-option *ngFor="let vendorS of vendorFiltered" [value]="vendorS">
        {{vendorS.name}}
      </mat-option>
    </mat-autocomplete>

    <mat-error *ngIf="fboForm.controls['vendor'].hasError('required')"> Vendor is required</mat-error>
  </mat-form-field>

  <mat-form-field class="fbo-create-form">
    <mat-label>Bill date</mat-label>
    <input matInput [matDatepicker]="billpicker" formControlName="billDate">
    <mat-datepicker-toggle matSuffix [for]="billpicker"></mat-datepicker-toggle>
    <mat-datepicker #billpicker></mat-datepicker>
    <mat-error *ngIf="fboForm.controls['billDate'].hasError('required')"> Bill date is required </mat-error>
  </mat-form-field>


  <mat-form-field class="fbo-create-form">
    <mat-label>Due date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dueDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="fboForm.controls['dueDate'].hasError('required')"> Due date is required </mat-error>
  </mat-form-field>

  <mat-form-field class="fbo-create-form">
    <mat-label>Bill Number</mat-label>
    <input matInput formControlName="billNumber" type="text">
    <mat-error *ngIf="fboForm.controls['billNumber'].hasError('required')"> Bill Number is required</mat-error>
  </mat-form-field>


  <mat-form-field class="fbo-create-form">
    <mat-label>Order Number</mat-label>
    <input matInput formControlName="orderNumber" type="text">
    <mat-error *ngIf="fboForm.controls['orderNumber'].hasError('required')"> Order Number is required</mat-error>
  </mat-form-field>


  <mat-form-field class="fbo-create-form">
    <mat-label>Due date</mat-label>
    <input matInput [matDatepicker]="orderpicker" formControlName="orderDate">
    <mat-datepicker-toggle matSuffix [for]="orderpicker"></mat-datepicker-toggle>
    <mat-datepicker #orderpicker></mat-datepicker>
    <mat-error *ngIf="fboForm.controls['orderDate'].hasError('required')"> Order Date is required </mat-error>
  </mat-form-field>


  <mat-form-field class="fbo-create-form">
    <mat-label>Amount</mat-label>
    <input matInput formControlName="totalAmount" type="number">
    <mat-error *ngIf="fboForm.controls['totalAmount'].hasError('required')"> Amount is required </mat-error>
  </mat-form-field>


  <mat-form-field class="fbo-create-form">
    <mat-label>Discount</mat-label>
    <input matInput formControlName="totalDisount" type="number">
    <mat-error *ngIf="fboForm.controls['totalDisount'].hasError('required')">Discount is required </mat-error>
  </mat-form-field>


  <mat-form-field class="fbo-create-form">
    <mat-label>Tax</mat-label>
    <input matInput formControlName="totalTax" type="number">
    <mat-error *ngIf="fboForm.controls['totalTax'].hasError('required')">Tax is required </mat-error>
  </mat-form-field>

  <mat-form-field class="fbo-create-form">
    <mat-label>Grand Total</mat-label>
    <input matInput formControlName="grandTotal" type="number">
    <mat-error *ngIf="fboForm.controls['grandTotal'].hasError('required')">Grand Total is required </mat-error>
  </mat-form-field>

  <mat-form-field class="fbo-create-form">
    <mat-label>Paid</mat-label>
    <mat-select formControlName="isPaid">
      <mat-option name="payedOvertime" [value]="true">Yes</mat-option>
      <mat-option name="payedOvertime" [value]="false">No</mat-option>
    </mat-select>
    <mat-error *ngIf="fboForm.controls['isPaid'].hasError('required')">Tax is required </mat-error>
  </mat-form-field>

  <h2 class="form-header">Add Purchase Items <mat-icon (click)="$event.preventDefault();addNew()">add_circle_outline
    </mat-icon>
  </h2>



  <table [style.display]="loading ? 'none': ''" formArrayName="items" mat-table [dataSource]="dataSource" matSort
    multiTemplateDataRows class="fiveby1-table" class="fbo-create-form-table" id="search-form">


    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns"> Product </th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <mat-form-field class="fbo-create-form-table">
          <input type="text" matInput placeholder="Enter vendor Name Name Ex. Xpeditions.." formControlName="product"
            [matAutocomplete]="autoCategory" (input)="filterProducts($event.target.value)">
          <mat-autocomplete autoActiveFirstOption #autoCategory="matAutocomplete" [displayWith]="extractNameOfObject">
            <mat-option *ngFor="let vendorS of productsFiltered" [value]="vendorS">
              {{vendorS.name}}
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="unitPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns"> Unit Price </th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <mat-form-field class="fbo-create-form-table">
          <input matInput type="number" formControlName="unitPrice" placeholder="Enter Unit Price" style="outline:none">

        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="unit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns"> Unit</th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <mat-form-field class="fbo-create-form-table">
          <mat-select placeholder="Enter unit Name" formControlName="unit">
            <mat-option [value]="unit" *ngFor="let unit of units">{{unit.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns"> Quantity </th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <mat-form-field class="fbo-create-form-table">
          <input matInput type="number" formControlName="quantity" placeholder="Enter quantity">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns"> Discount </th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <mat-form-field class="fbo-create-form-table">
          <input matInput type="number" formControlName="discount" placeholder="Enter discount Amount">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="totalAmount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns"> Total Amount</th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <mat-form-field class="fbo-create-form-table">
          <input matInput type="number" formControlName="totalAmount" placeholder="Enter Toatal Amount">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="totalTax">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns"> Total Tax </th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <mat-form-field class="fbo-create-form-table">
          <input matInput type="number" formControlName="totalTax" placeholder="Enter Total Tax">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="batchNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns"> Batch Number </th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <mat-form-field class="fbo-create-form-table">
          <input matInput type="text" formControlName="batchNumber" placeholder="Enter Batch Number">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="expiryDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns"> Expiry Date </th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <mat-form-field class="fbo-create-form-table">
          <input matInput [matDatepicker]="picker" formControlName="expiryDate" placeholder="Enter Expiry Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="mfgDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns">Manufacturing Date</th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <mat-form-field class="fbo-create-form-table">
          <input matInput [matDatepicker]="picker" formControlName="mfgDate" placeholder="Enter Manufacturing Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="mrp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns">MRP</th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <mat-form-field class="fbo-create-form-table">
          <input matInput type="number" formControlName="mrp" placeholder="Enter MRP">

        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="rrp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns">RRP</th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <mat-form-field class="fbo-create-form-table">
          <input matInput type="number" formControlName="rrp" placeholder="Enter Recommanded Retail Price">

        </mat-form-field>
      </td>
    </ng-container>




    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="displayedColumns" class="fiveby1-table-header"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="fiveby1-element-row"></tr>


  </table>

  <!-- expanded -->
  <table [style.display]="loading ? 'none': ''" formArrayName="items" mat-table [dataSource]="DataSource" matSort
    multiTemplateDataRows class="fiveby1-table" class="fbo-create-form-table"
    *ngFor="let row of dynamicRows; let i = index" id="search-form">


    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns"> Product </th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <mat-form-field class="fbo-create-form-table">
          <input type="text" matInput placeholder="Enter vendor Name Name Ex. Xpeditions.." formControlName="product"
            [matAutocomplete]="autoCategory" (input)="filterProducts($event.target.value)">
          <mat-autocomplete autoActiveFirstOption #autoCategory="matAutocomplete" [displayWith]="extractNameOfObject">
            <mat-option *ngFor="let vendorS of productsFiltered" [value]="vendorS">
              {{vendorS.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="unitPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns"> Unit Price </th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <mat-form-field class="fbo-create-form-table">
          <input matInput type="number" formControlName="unitPrice" placeholder="Enter Unit Price" style="outline:none">

        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="unit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns"> Unit</th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <mat-form-field class="fbo-create-form-table">
          <mat-select placeholder="Enter unit Name" formControlName="unit">
            <mat-option [value]="unit.name" *ngFor="let unit of units">{{unit.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns"> Quantity </th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <mat-form-field class="fbo-create-form-table">
          <input matInput type="number" formControlName="quantity" placeholder="Enter quantity">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns"> Discount </th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <mat-form-field class="fbo-create-form-table">
          <input matInput type="number" formControlName="discount" placeholder="Enter discount Amount">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="totalAmount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns"> Total Amount</th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <mat-form-field class="fbo-create-form-table">
          <input matInput type="number" formControlName="totalAmount" placeholder="Enter Toatal Amount">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="totalTax">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns"> Total Tax </th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <mat-form-field class="fbo-create-form-table">
          <input matInput type="number" formControlName="totalTax" placeholder="Enter Total Tax">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="batchNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns"> Batch Number </th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <mat-form-field class="fbo-create-form-table">
          <input matInput type="text" formControlName="batchNumber" placeholder="Enter Batch Number">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="expiryDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns"> Expiry Date </th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <mat-form-field class="fbo-create-form-table">
          <input matInput [matDatepicker]="picker" formControlName="expiryDate" placeholder="Enter Expiry Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="mfgDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns">Manufacturing Date</th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <mat-form-field class="fbo-create-form-table">
          <input matInput [matDatepicker]="picker" formControlName="mfgDate" placeholder="Enter Manufacturing Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="mrp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns">MRP</th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <mat-form-field class="fbo-create-form-table">
          <input matInput type="number" formControlName="mrp" placeholder="Enter MRP">

        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="rrp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns">RRP</th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <mat-form-field class="fbo-create-form-table">
          <input matInput type="number" formControlName="rrp" placeholder="Enter Recommanded Retail Price">

        </mat-form-field>
      </td>
    </ng-container>




    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="fiveby1-element-row"></tr>


  </table>


  <p class="form-submit-container">
    <button class="cancel-button" mat-button (click)="goToPreviousPage(route, router)">Cancel</button>
    <button type="submit" class="submit-button" mat-button>Save</button>
  </p>
</form>