<h2 class="form-header">{{formHeader}} </h2>

<div *ngIf="loading">
  <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
</div>
<form [style.display]="loading ? 'none': ''" [formGroup]="fboForm" (ngSubmit)="upsertBill()">

  <mat-form-field class="fbo-create-form">
    <mat-label>Vendor</mat-label>
    <input type="text" matInput placeholder="Select a vendor" formControlName="vendor" [matAutocomplete]="autoVendor">
    <mat-autocomplete autoActiveFirstOption #autoVendor="matAutocomplete" [displayWith]="extractNameOfObject">
      <mat-option *ngFor="let vendorS of vendorsFiltered" [value]="vendorS">
        {{vendorS.name}}
      </mat-option>
    </mat-autocomplete>

    <mat-error *ngIf="fboForm.controls['vendor'].hasError('required')"> Vendor is required</mat-error>
  </mat-form-field>

  <mat-form-field class="fbo-create-form">
    <mat-label>Bill date</mat-label>
    <input matInput [matDatepicker]="billpicker" formControlName="billDate">
    <mat-datepicker-toggle matSuffix [for]="billpicker"></mat-datepicker-toggle>
    <mat-datepicker #billpicker></mat-datepicker>
    <mat-error *ngIf="fboForm.controls['billDate'].hasError('required')"> Bill date is required </mat-error>
  </mat-form-field>


  <mat-form-field class="fbo-create-form">
    <mat-label>Due date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dueDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="fboForm.controls['dueDate'].hasError('required')"> Due date is required </mat-error>
  </mat-form-field>

  <mat-form-field class="fbo-create-form">
    <mat-label>Bill Number</mat-label>
    <input matInput formControlName="billNumber" type="text">
    <mat-error *ngIf="fboForm.controls['billNumber'].hasError('required')"> Bill Number is required</mat-error>
  </mat-form-field>


  <mat-form-field class="fbo-create-form">
    <mat-label>Order Number</mat-label>
    <input matInput formControlName="orderNumber" type="text">
    <mat-error *ngIf="fboForm.controls['orderNumber'].hasError('required')"> Order Number is required</mat-error>
  </mat-form-field>


  <mat-form-field class="fbo-create-form">
    <mat-label>Order date</mat-label>
    <input matInput [matDatepicker]="orderpicker" formControlName="orderDate">
    <mat-datepicker-toggle matSuffix [for]="orderpicker"></mat-datepicker-toggle>
    <mat-datepicker #orderpicker></mat-datepicker>
    <mat-error *ngIf="fboForm.controls['orderDate'].hasError('required')"> Order Date is required </mat-error>
  </mat-form-field>


  <mat-form-field class="fbo-create-form">
    <mat-label>Amount</mat-label>
    <input matInput formControlName="totalAmount" type="number" readonly>
    <mat-error *ngIf="fboForm.controls['totalAmount'].hasError('required')"> Amount is required </mat-error>
  </mat-form-field>


  <mat-form-field class="fbo-create-form">
    <mat-label>Discount</mat-label>
    <input matInput formControlName="totalDiscount" type="number" readonly>
    <mat-error *ngIf="fboForm.controls['totalDiscount'].hasError('required')">Discount is required </mat-error>
  </mat-form-field>


  <mat-form-field class="fbo-create-form">
    <mat-label>Tax</mat-label>
    <input matInput formControlName="totalTax" type="number" readonly>
    <mat-error *ngIf="fboForm.controls['totalTax'].hasError('required')">Tax is required </mat-error>
  </mat-form-field>

  <mat-form-field class="fbo-create-form">
    <mat-label>Grand Total</mat-label>
    <input matInput formControlName="grandTotal" type="number" readonly>
    <mat-error *ngIf="fboForm.controls['grandTotal'].hasError('required')">Grand Total is required </mat-error>
  </mat-form-field>

  <p class="fbo-create-form">
    <mat-label class="paidlabel">Paid</mat-label>
    <mat-slide-toggle formControlName="isPaid" color="primary"></mat-slide-toggle>
  </p>

  <h2 class="form-header">Add Purchase Items</h2>
  <table [style.display]="loading ? 'none': ''" formArrayName="purchaseItems" mat-table [dataSource]="dataSource"
    matSort multiTemplateDataRows  class="create-form-table"  id="search-form">

    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns"> Product </th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <span class="mobile-label">Product</span>
        <mat-form-field class="fbo-create-form-first">
          <input type="text" matInput formControlName="product" [matAutocomplete]="autoProduct" >
          <mat-autocomplete autoActiveFirstOption #autoProduct="matAutocomplete" [displayWith]="extractNameOfObject">
            <mat-option *ngFor="let productS of productsFiltered" [value]="productS">
              {{productS.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="unitPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns"> Price </th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <span class="mobile-label">Price</span>
        <mat-form-field class="fbo-create-form-number"  >
          <input matInput type="number" formControlName="unitPrice">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns"> Qty </th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <span class="mobile-label">Qty</span>
        <mat-form-field class="fbo-create-form-number" >
          <input matInput type="number" formControlName="quantity">
          <span matSuffix>{{findUnitCode(element)}}</span>
          
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns"> Disc </th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <span class="mobile-label">Disc</span>
        <mat-form-field class="fbo-create-form-number"  >
          <input matInput type="number" formControlName="discount">
        </mat-form-field>
      </td>
    </ng-container>


    <ng-container matColumnDef="totalAmount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns">Total</th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <span class="mobile-label">Total</span>
        <mat-form-field  class="fbo-create-form-number" >
          <input matInput type="number" formControlName="totalAmount" readonly>
        </mat-form-field>
      </td>
    </ng-container>


    <ng-container matColumnDef="batchNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns"> Batch </th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <span class="mobile-label">Batch </span>
        <mat-form-field  class="fbo-create-form-number" >
          <input matInput type="text" formControlName="batchNumber">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="expiryDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns"> Expiry </th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <span class="mobile-label">Expiry</span>
        <mat-form-field  class="fbo-create-form-number" >
          <input matInput [matDatepicker]="picker" formControlName="expiryDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="mfgDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns">MFG</th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <span class="mobile-label">MFG</span>
        <mat-form-field  class="fbo-create-form-number" >
          <input matInput [matDatepicker]="picker" formControlName="mfgDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="mrp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns">MRP</th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <span class="mobile-label">MRP</span>
        <mat-form-field  class="fbo-create-form-number" >
          <input matInput type="number" formControlName="mrp">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="rrp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns">RRP</th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
        <span class="mobile-label">RRP</span>
        <mat-form-field  class="fbo-create-form-number" >
          <input matInput type="number" formControlName="rrp">

        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns"></th> 
          <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element"> 
            <span class="fbo-create-form-numberdelete">
            <button mat-icon-button color="warn" focusable="true" >
              <mat-icon>delete</mat-icon>
            </button>
            </span>
          </td>
        </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="displayedColumns" class="fiveby1-table-header"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="fiveby1-element-row"></tr>

  </table>

  <p class="form-submit-container">
    <button class="cancel-button" mat-button (click)="goToPreviousPage(route, router)">Cancel</button>
    <button class="submit-button" mat-button>Save</button>
  </p>
</form>