h3{
    margin-top: 2rem;
    font-weight: bold;
}

table {
    width: 100%;
    
  }

  .btn-align{
      display: flex;
  }

  .container{
      flex: 1 1;
  }
.tax{
    margin-left: 4rem; 
    margin-right: 4rem;
}

button{
    background-color:#0062FF
}

 
@media screen and (max-width: 960px) {

     
}