<h2 class="form-header">{{formHeader}} </h2>

<div *ngIf="loading">
  <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
</div>
<form [style.display]="loading ? 'none': ''" [formGroup]="form" (ngSubmit)="upsertUser()">

  <mat-form-field class='fbo-create-formTwo'>
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput placeholder="Enter Name">
    <mat-error *ngIf="form.controls['name'].hasError('required')">Please Enter Name</mat-error>
  </mat-form-field>

  <mat-form-field class='fbo-create-formTwo'>
    <mat-label>E-mail</mat-label>
    <input formControlName="email" matInput placeholder="Enter Name">
    <mat-error *ngIf="form.controls['email'].hasError('required')">Please Enter Email</mat-error>
  </mat-form-field>

  <mat-form-field class='fbo-create-formTwo'>
    <mat-label>Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">

      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
     <mat-error *ngIf="form.controls['password'].hasError('required')">Please Enter Password</mat-error>
     <mat-error *ngIf="form.controls['password'].hasError('pattern')">Password must have at least 8 characters</mat-error>
  </mat-form-field>

  <mat-form-field class='fbo-create-formTwo'>
    <mat-label>Confirm Password</mat-label>
    <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="cPassword" matInput placeholder="Enter Name">
    <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>

    <mat-error *ngIf="form.controls['cPassword'].hasError('required')">Please Enter confirmation Password</mat-error>
  </mat-form-field>

    <mat-form-field class="fbo-create-form-100">
      <mat-label>Branch</mat-label>
      <mat-chip-list #brachChipList aria-label="Branch selection">
        <mat-chip
          *ngFor="let branch of selectedBranches"
          removable="true"
          (removed)="removeBranch(branch)">
          {{branch.name}}
          <button matChipRemove *ngIf="removable">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>

        <input matInput placeholder="Enter Branch" [matAutocomplete]="autobranch"
        [formControl]="branchAuto" [matChipInputFor]="brachChipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" #branchInput>

      </mat-chip-list>
      <mat-autocomplete autoActiveFirstOption #autobranch="matAutocomplete" [displayWith]="extractNameOfObject">
        <mat-option *ngFor="let branchS of branchFiltered" [value]="branchS">
          {{branchS.name}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="branchAuto.hasError('required')">Please select branches</mat-error>
    </mat-form-field>
  <mat-error *ngIf="error">
    *{{ error }}
  </mat-error>
  <br>
  <table [style.display]="loading ? 'none': ''" class="permission-table">
  <h3>ITEM</h3>
    <tr>
      <th></th>
      <th>View</th>
      <th>Create</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>


    <tr *ngFor="let item of itemPermissions | keyvalue">
      <td class="title-column">{{item.key}}</td>
      <td class="perm-column">
        <mat-checkbox color="primary" [checked]="item.value.operations.view"
        (change)="item.value.operations.view = $event.checked"></mat-checkbox>
      </td>
      <td class="perm-column"><mat-checkbox color="primary" [checked]="item.value.operations.create"
        (change)="item.value.operations.create = $event.checked"></mat-checkbox></td>
      <td class="perm-column"><mat-checkbox color="primary" [checked]="item.value.operations.update"
        (change)="item.value.operations.update = $event.checked"></mat-checkbox></td>
      <td class="perm-column"><mat-checkbox color="primary" [checked]="item.value.operations.delete"
        (change)="item.value.operations.delete = $event.checked"></mat-checkbox></td>
    </tr>
<br>
<br>

<h2>SALE</h2>
<tr>
      <th></th>
      <th>View</th>
      <th>Create</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr>



     <tr *ngFor="let item of salePermissions | keyvalue">
      <td class="title-column">{{item.key}}</td>
      <td class="perm-column">
        <mat-checkbox color="primary" [checked]="item.value.operations.view"
        (change)="item.value.operations.view = $event.checked"></mat-checkbox>
      </td>
      <td class="perm-column"><mat-checkbox color="primary" [checked]="item.value.operations.create"
        (change)="item.value.operations.create = $event.checked"></mat-checkbox></td>
      <td class="perm-column"><mat-checkbox color="primary" [checked]="item.value.operations.update"
        (change)="item.value.operations.update = $event.checked"></mat-checkbox></td>
      <td class="perm-column"><mat-checkbox color="primary" [checked]="item.value.operations.delete"
        (change)="item.value.operations.delete = $event.checked"></mat-checkbox></td>
    </tr>
    <br>
    <br>
    <h2>PURCHASES</h2>
<tr>
      <th></th>
      <th>View</th>
      <th>Create</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>



     <tr *ngFor="let item of purchasePermissions | keyvalue">
      <td class="title-column">{{item.key}}</td>
      <td class="perm-column">
        <mat-checkbox color="primary" [checked]="item.value.operations.view"
        (change)="item.value.operations.view = $event.checked"></mat-checkbox>
      </td>
      <td class="perm-column"><mat-checkbox color="primary" [checked]="item.value.operations.create"
        (change)="item.value.operations.create = $event.checked"></mat-checkbox></td>
      <td class="perm-column"><mat-checkbox color="primary" [checked]="item.value.operations.update"
        (change)="item.value.operations.update = $event.checked"></mat-checkbox></td>
      <td class="perm-column"><mat-checkbox color="primary" [checked]="item.value.operations.delete"
        (change)="item.value.operations.delete = $event.checked"></mat-checkbox></td>
    </tr>

    <br>
    <br>

    <h2>ACCOUNTS</h2>
    <tr>
      <th></th>
      <th>View</th>
      <th>Create</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>

     <tr *ngFor="let item of accountPermissions | keyvalue">
      <td class="title-column">{{item.key}}</td>
      <td class="perm-column">
        <mat-checkbox color="primary" [checked]="item.value.operations.view"
        (change)="item.value.operations.view = $event.checked"></mat-checkbox>
      </td>
      <td class="perm-column"><mat-checkbox color="primary" [checked]="item.value.operations.create"
        (change)="item.value.operations.create = $event.checked"></mat-checkbox></td>
      <td class="perm-column"><mat-checkbox color="primary" [checked]="item.value.operations.update"
        (change)="item.value.operations.update = $event.checked"></mat-checkbox></td>
      <td class="perm-column"><mat-checkbox color="primary" [checked]="item.value.operations.delete"
        (change)="item.value.operations.delete = $event.checked"></mat-checkbox></td>
    </tr>


    <br>
    <br>
    <h2>VOUCHER</h2>
    <tr>
      <th></th>
      <th>View</th>
      <th>Create</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>

     <tr *ngFor="let item of voucherPermissions | keyvalue">
      <td class="title-column">{{item.key}}</td>
      <td class="perm-column">
        <mat-checkbox color="primary" [checked]="item.value.operations.view"
        (change)="item.value.operations.view = $event.checked"></mat-checkbox>
      </td>
      <td class="perm-column"><mat-checkbox color="primary" [checked]="item.value.operations.create"
        (change)="item.value.operations.create = $event.checked"></mat-checkbox></td>
      <td class="perm-column"><mat-checkbox color="primary" [checked]="item.value.operations.update"
        (change)="item.value.operations.update = $event.checked"></mat-checkbox></td>
      <td class="perm-column"><mat-checkbox color="primary" [checked]="item.value.operations.delete"
        (change)="item.value.operations.delete = $event.checked"></mat-checkbox></td>
    </tr>



    <br>
    <br>
    <h2>SETTINGS</h2>
    <tr>
      <th></th>
      <th>View</th>
      <th>Create</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>

     <tr *ngFor="let item of settingsPermissions | keyvalue">
      <td class="title-column">{{item.key}}</td>
      <td class="perm-column">
        <mat-checkbox color="primary" [checked]="item.value.operations.view"
        (change)="item.value.operations.view = $event.checked"></mat-checkbox>
      </td>
      <td class="perm-column"><mat-checkbox color="primary" [checked]="item.value.operations.create"
        (change)="item.value.operations.create = $event.checked"></mat-checkbox></td>
      <td class="perm-column"><mat-checkbox color="primary" [checked]="item.value.operations.update"
        (change)="item.value.operations.update = $event.checked"></mat-checkbox></td>
      <td class="perm-column"><mat-checkbox color="primary" [checked]="item.value.operations.delete"
        (change)="item.value.operations.delete = $event.checked"></mat-checkbox></td>
    </tr>

<br>
<br>
<h2>OTHERS</h2>
    <tr>
      <th></th>
      <th>View</th>
      <th>Create</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr>

    <tr *ngFor="let item of permissions | keyvalue">
      <td class="title-column">{{item.key}}</td>
      <td class="perm-column">
        <mat-checkbox color="primary" [checked]="item.value.operations.view"
        (change)="item.value.operations.view = $event.checked"></mat-checkbox>
      </td>
      <td class="perm-column"><mat-checkbox color="primary" [checked]="item.value.operations.create"
        (change)="item.value.operations.create = $event.checked"></mat-checkbox></td>
      <td class="perm-column"><mat-checkbox color="primary" [checked]="item.value.operations.update"
        (change)="item.value.operations.update = $event.checked"></mat-checkbox></td>
      <td class="perm-column"><mat-checkbox color="primary" [checked]="item.value.operations.delete"
        (change)="item.value.operations.delete = $event.checked"></mat-checkbox></td>
    </tr>
  </table>


  <p class="form-submit-container">
    <button class="cancel-button" mat-button (click)="goToPreviousPage(route,router)">Cancel</button>
    <button class="submit-button" mat-button>save</button>
  </p>

</form>
