<h2 class="form-header">{{formHeader}} </h2>

<div *ngIf="loading">
  <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
</div>
<form [style.display]="loading ? 'none': ''" [formGroup]="form" (ngSubmit)="upsertUser()">

  <mat-form-field class='fbo-create-formTwo'>
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput placeholder="Enter Name">
    <mat-error *ngIf="form.controls['name'].hasError('required')">Please Enter Name</mat-error>
  </mat-form-field>

  <mat-form-field class='fbo-create-formTwo'>
    <mat-label>E-mail</mat-label>
    <input formControlName="email" matInput placeholder="Enter Name">
    <mat-error *ngIf="form.controls['email'].hasError('required')">Please Enter Email</mat-error>
  </mat-form-field>

  <mat-form-field class='fbo-create-formTwo'>
    <mat-label>Password</mat-label>
    <input type="password" formControlName="password" matInput placeholder="Enter Name">
    <mat-error *ngIf="form.controls['password'].hasError('required')">Please Enter Password</mat-error>
  </mat-form-field>

  <mat-form-field class='fbo-create-formTwo'>
    <mat-label>Confirm Password</mat-label>
    <input type="password" formControlName="cPassword" matInput placeholder="Enter Name">
    <mat-error *ngIf="form.controls['cPassword'].hasError('required')">Please Enter confirmation Password</mat-error>
  </mat-form-field>

  <mat-error *ngIf="error">
    *{{ error }}
  </mat-error>
  <br>
  <table [style.display]="loading ? 'none': ''" class="permission-table">
    <tr>
      <th></th>
      <th>View</th>
      <th>Create</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let item of permissions | keyvalue">
      <td class="title-column">{{item.key}}</td>
      <td class="perm-column">
        <mat-checkbox color="primary" [checked]="item.value.operations.view"
        (change)="item.value.operations.view = $event.checked"></mat-checkbox>
      </td>
      <td class="perm-column"><mat-checkbox color="primary" [checked]="item.value.operations.create"
        (change)="item.value.operations.create = $event.checked"></mat-checkbox></td>
      <td class="perm-column"><mat-checkbox color="primary" [checked]="item.value.operations.update"
        (change)="item.value.operations.update = $event.checked"></mat-checkbox></td>
      <td class="perm-column"><mat-checkbox color="primary" [checked]="item.value.operations.delete"
        (change)="item.value.operations.delete = $event.checked"></mat-checkbox></td>
    </tr>
  </table>
  

  <p class="form-submit-container">
    <button class="cancel-button" mat-button (click)="goToPreviousPage(route,router)">Cancel</button>
    <button class="submit-button" mat-button>save</button>
  </p>

</form>