.table-header-container {
    display: flex;
    margin-top: 2em;
}

.head {
    display: flex;
}

.button {
    background-color: #0062FF22;
    color: #0062FF;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 400;
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-left: 1em;
    margin-bottom: 1em;
}

.empy-space {
    flex: 1 1;
}
.column-right-align {
    padding-right: 5%;
    text-align: right;
}
.expanded-node{
    font-weight: 900;
}
.fiveby1-table{
    width: 100%;
}

.table-header {
    font-weight: 500;
    margin-top: 0.5em;
}

.filter-list-button {
    background-color: #0062FF;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 400;
    margin-left: 1em;
    margin-bottom: 1em;
    min-width: 30px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}