<mat-card>
    <mat-card-header class="pie-chart-header">
        <mat-card-title class="dashboard-5by1-card-title-container">
            <span class="dashboard-5by1-card-title-text">
                {{pieData.title.value}}
            </span>
        </mat-card-title>
        <div>
            <button mat-icon-button aria-label="Horizontal menu">
                <mat-icon class="mat-5by1-white">more_horiz</mat-icon>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content class="dashboard-5by1-card-summary-container">
        <div class="pie-chart-area">
            <ngx-charts-pie-chart class="pie-chart-5by1" [scheme]="colorScheme"
                [results]="pieData.results" [gradient]="true" 
                [legend]="false" [tooltipDisabled]="false"
                [trimLabels]="false"
                [doughnut]="false">
            </ngx-charts-pie-chart>
            <ngx-charts-legend *ngIf="legendNames" class="chart-legend" [title]="" [data]="legendNames" [colors]="legendColors">
            </ngx-charts-legend>
        </div>
    </mat-card-content>
</mat-card>