<div class="page-header">
    <h3 class="title">Dashboard</h3>
    <div>
        <button mat-flat-button (click)="picker.open()" class="dashboard-datepicker">
            <mat-icon class="datepicker-icon">calendar_today</mat-icon>
            {{range.value.start | date: 'd, MMMM, y' }} - {{range.value.end | date: 'd, MMMM, y' }}
        </button>
        <mat-date-range-input class="datepicker-input" [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </div>
</div>
<div class="page-content">
    <ng-template ngFor let-dItem [ngForOf]="dItems">
        <app-summary-card *ngIf="dItem.type === 'Summary'" class="dashboard-item"
            [ngClass]="dItem.width === 'width33' ? 'w33p' : dItem.width === 'width50' ? 'w50p' : dItem.width === 'width100' ? 'w100p' : ''"
            [summary]="dItem"></app-summary-card>

        <app-line-chart *ngIf="dItem.type === 'LineChart'" class="dashboard-item"
            [ngClass]="dItem.width === 'width33' ? 'w33p' : dItem.width === 'width50' ? 'w50p' : dItem.width === 'width100' ? 'w100p' : ''"
            [lineData]="dItem"></app-line-chart>

        <app-pie-chart *ngIf="dItem.type === 'PieChart'" class="dashboard-item"
            [ngClass]="dItem.width === 'width33' ? 'w33p' : dItem.width === 'width50' ? 'w50p' : dItem.width === 'width100' ? 'w100p' : ''"
            [pieData]="dItem"></app-pie-chart>

        <app-summary-table *ngIf="dItem.type === 'Table'" class="dashboard-item"
            [ngClass]="dItem.width === 'width33' ? 'w33p' : dItem.width === 'width50' ? 'w50p' : dItem.width === 'width100' ? 'w100p' : ''"
            [tableData]="dItem"></app-summary-table>

    </ng-template>
</div>