<app-tool-bar createUri="product/create" mainHeader="Product" subHeader="List of Products"></app-tool-bar>
<mat-table class="mat-elevation-z8" matSort *ngIf="items" [dataSource]="items" (matSortChange)="sortData($event)">
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="summary-table-header-row">Name</mat-header-cell>
        <mat-cell *matCellDef="let element" class="summary-table-value-row" data-label="name"> {{element.name}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="summary-table-header-row">Code</mat-header-cell>
        <mat-cell *matCellDef="let element" class="summary-table-value-row" data-label="code"> {{element.code}}
        </mat-cell>
    </ng-container>
        <ng-container matColumnDef="brand">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="summary-table-header-row">brand</mat-header-cell>
            <mat-cell *matCellDef="let element" class="summary-table-value-row" data-label="code"> {{element.brand}}
            </mat-cell>
    </ng-container>
    <ng-container matColumnDef="location">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="summary-table-header-row">Location</mat-header-cell>
        <mat-cell *matCellDef="let element" class="summary-table-value-row" data-label="location"> {{element.location}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="unit.name">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="summary-table-header-row">Unit</mat-header-cell>
        <mat-cell *matCellDef="let element" class="summary-table-value-row" data-label="unit"> {{element.unit.name}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="summary-table-header-row">Status</mat-header-cell>
        <mat-cell *matCellDef="let element" class="summary-table-value-row" data-label="status"> {{element.status}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="enable">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="summary-table-header-row">Enabled</mat-header-cell>
        <mat-cell *matCellDef="let element" class="summary-table-value-row" data-label="enabled">
            <mat-slide-toggle color="primary"> </mat-slide-toggle>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell class="btn-action" *matHeaderCellDef mat-sort-header class="summary-table-header-row">Actions
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="summary-table-value-row" data-label="actions">
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon color="primary" >more_vert</mat-icon>
            </button>
          
        </mat-cell>
        <mat-menu #menu="matMenu">
            <button mat-menu-item >
                <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
            <button mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
              </mat-menu>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[2, 10,15, 20]" showFirstLastButtons></mat-paginator>