 .button{
     padding-top: 10px;
     display: flex;
     align-items: center;
     padding-bottom: 25px;
     padding-right: 25px;
      
 }
 .item{
     
     flex: 1 1;
     
 }
 button{
     margin-left: 2rem;
     
 }

 .heading{
     font-weight: bold;
 }

 .btn-background{
     background:rgba(0,98,255,0.3);
 }

 .btn2-background{
    margin-left: 2rem;
 }
  
 @media screen and (max-width: 960px) {
    .mat-table {
      border: 0;
      vertical-align: middle;
    }
  
    .mat-table caption {
      font-size: 1em;
    }
  
    .mat-table .mat-row {
      border-bottom: 5px solid #ddd;
      display: block;
    }
  
    .mat-table .mat-cell {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
    //   text-align: right;
    //   font-weight: bold;
      height: 30px;
      margin-bottom: 4%;
    }
    .mat-table .mat-cell:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: normal;
  
      
    }
    .mat-table .mat-cell:last-child {
      border-bottom: 0;
    }
    .mat-table .mat-cell:first-child {
      margin-top: 4%;
    }

    .mat-header-cell{

         padding: 1px;
    }
    button{
        margin-left: 1rem;
        font-size:10px;
       
        
    }
    .mat-icon{
        
            width: 20px;
            height: 20px;
            font-size: 20px;
             
      
          }

      .btn2-background{
          font-size:10px ;
          width: 20px; 
           
      } 
       
    }
