 .button{
     padding-top: 10px;
     display: flex;
     align-items: center;
     padding-bottom: 25px;
     
      
 }
 .item{
     
     flex: 1 1;
    
}

 .heading{
     font-weight: bold;
   
 }

 .btn-background{
     background-color:#0062FF;
 }

 .btn2-background{
    margin-left: 2rem;
    background-color:#0062FF;
 }
  
.product{
  margin-right:2rem;
  margin-left: 2rem;
  height:80%;
  margin-top: 0.5rem;
}
.actions{
  padding-left: 0%;
}
  .btn-action{
 margin-right:2rem;

  }
 @media screen and (max-width: 960px) {
 
    .mat-header-cell{
      display:none;
    }
     
    .mat-table .mat-row {
      border-bottom: 8px solid #ddd;
      display: block;
    }
  
    .mat-table .mat-cell {
      display: block;
      text-align: right;
      margin-bottom: 4%;
      border-bottom: 1px solid #ddd;
      height:40px;
      margin-left: 10px;
      margin-right: 10px;
       
    }
    .mat-table .mat-cell:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: normal;
    }
    .mat-table .mat-cell:last-child {
      padding-right: 0%;
      border-bottom: 0; 
      height:60px;
      border-bottom: 1px solid #ddd;
      display: block;
    }
    .mat-table .mat-cell:first-child {
      
      padding-left: 0%;
      margin-top: 4%;
      margin-top: 10%;
    }

     
    button{
        margin-left: 4%;
        width:20%;   
    }
     
       .btn2-background{
         margin-left:4%
       
       }
      .product{
        width: 95%;
       margin-left: 0%;
       margin-right:0%;
      }
      .heading{
         margin-left:2%;
    }
    .btn-none{
      display:none;
    }
       
    }
