:host ::ng-deep .mat-select-value{
  text-align: start !important; 
  font-size: small;
  width: 80%;
}

:host ::ng-deep  .mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 100%;
  border: 1px solid  #E3E3E3 !important;
  border-radius: 3px; 
font-size: small;
}
:host ::ng-deep .mat-form-field-underline {
  display: none;
  position: absolute;
  width: 100%;
  pointer-events: none;
  transform: scale3d(1, 1.0001, 1);
}
:host ::ng-deep   .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0em; 
  }
:host ::ng-deep.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 3px 5px;
  
}