
<div class="filter-item-card"(keydown.tab)="$event.stopPropagation()" >

    <form [formGroup]="filterForm" (ngSubmit)="filterItems()">
        <div (click)="$event.stopPropagation();$event.preventDefault()">

            <div class="filter-content-div">
                <mat-label class="lable">Name</mat-label>
                <mat-select class="select" formControlName="nameType">
                    <mat-option value="^">Starts with</mat-option>
                    <mat-option value="">Contains</mat-option>
                    <mat-option value="eq">Equal to</mat-option>
                </mat-select>
                <mat-form-field class="forminput">
                    <input matInput formControlName="name">
                </mat-form-field>
            </div>
           <div class="filter-content-div">
                <mat-label class="lable">Ledger Group</mat-label>
                <mat-select formControlName="parentIdType" class="select">
                    <mat-option value="">Equal to</mat-option>
                </mat-select>
                <mat-form-field>
                    <input type="text" matInput formControlName="parentId" [matAutocomplete]="autoLedgerGroup">
                    <mat-autocomplete autoActiveFirstOption #autoLedgerGroup="matAutocomplete"
                        [displayWith]="extractNameOfLedgerGroup">
                        <mat-option *ngFor="let ledgerGroupS of ledgerGroupsFiltered" [value]="ledgerGroupS.id">
                            {{ledgerGroupS.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
         

        </div>
      
 
        <div class='filter-actions-container'>
            <button mat-button type="button" class="filtercancelbutton">Cancel</button>
            <button mat-button type="button" class="filterresetbutton"(click)="resetter();$event.stopPropagation()">Reset</button>
            <button mat-button type="submit" class="filtersavebutton">Submit</button>
        </div>
  
    </form>
</div>