# Example of environment variables file
# You need a .env file that will be gitignored

# These are the environment variables needed for this application.
# Change the values according to your environment: PRODUCTION, DEVELOPMENT
MODE=PRODUCTION
PORT=9000
MONGODB_URI=mongodb://localhost:27017/some_db
COMMON_DB=some_db
AUTH_SHARED_SECRET="They don’t know that we know they know we know"
