<div *ngIf="loading">
    <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
</div>
<div *ngIf="!loading">
    <h3>Personal details</h3>
    Name : {{user.name}}
    <br/>
    E-Mail : {{user.email}}
    <br/>
    Role : {{user.role}}

    <h3>Company details</h3>
    Company Name : {{company.name}}
    <br/>
    Company Code : {{company.code}}
    <br/>
    E-mail : {{company.email}}
    <br/>
    Address : {{company.address}}
    <br/>
    Branch Name : {{branch?.name}}
    <br/>
    Financial Year : {{finYear?.name}}

    <h3>Change Financial Year</h3>

    <div *ngFor="let branchC of branches">
        <h3>{{branchC.name}}</h3>
        <table mat-table [dataSource]="createDataSource(branchC.id)">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
              </ng-container>
            
              <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef>Code</th>
                <td mat-cell *matCellDef="let element">{{element.code}}</td>
              </ng-container>
            
              <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef>Start Date</th>
                <td mat-cell *matCellDef="let element">{{parseDate(element.startDate)}}</td>
              </ng-container>
            
              <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef>End Date</th>
                <td mat-cell *matCellDef="let element">{{parseDate(element.endDate)}}</td>
              </ng-container>


            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let element; let i = dataIndex">
                    <button mat-icon-button type="button" color="warn" focusable="true" (click)="changeFinYear(element)">
                        <mat-icon>browser_updated</mat-icon>
                    </button>
                </td>
            </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>

</div>