<div class="bill">
  <div class="btn-align">
    <span class="heading">Bills</span>
  <div class="container"></div>
  <button mat-raised-button class="btn-background" color="primary"><mat-icon >save_alt</mat-icon><span class="btn-none">Import</span></button>
  <button mat-raised-button   class="btn-background" color="primary" ><mat-icon >ios_share</mat-icon><span class="btn-none">Export</span></button>
  <button mat-raised-button class="btn-background"  routerLink="./create" color="primary" ><mat-icon >add</mat-icon><span class="btn-none">Add new</span></button> 
</div>
<div class="btn-align"> 
  <span class="heading">List of Bills</span>
  <div class="container"></div>
  <button mat-raised-button class="btn-background"  color="primary"><mat-icon color="basic">filter_alt</mat-icon> </button>
  </div>
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  
  
  <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8" matSort>
  
    <ng-container  matColumnDef="gcolour">
      <th mat-header-cell  *matHeaderCellDef mat-sort-header > Demo 1 </th>
      <td mat-cell *matCellDef="let element" data-label="group colour"> {{element.gcolour}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Demo 2 </th>
      <td mat-cell *matCellDef="let element" data-label="Name"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="rate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Demo 3</th>
      <td mat-cell *matCellDef="let element" data-label="Rate"> {{element.rate}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="apliedTo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Demo 4</th>
      <td mat-cell *matCellDef="let element" data-label="ApliedTo"> {{element.apliedTo}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

