<h2 class="form-header">{{formHeader}} </h2>

<div *ngIf="loading">
  <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
</div>
<form [style.display]="loading ? 'none': ''" [formGroup]="fboForm" (ngSubmit)="upsertInvoice()" class="fbo-sale-form">


  <mat-form-field class="fbo-create-form">
    <mat-label>Customer</mat-label>
    <input type="text" matInput placeholder="Select a customer" formControlName="customer" [matAutocomplete]="autoCustomer">
    <mat-autocomplete autoActiveFirstOption #autoCustomer="matAutocomplete" [displayWith]="extractNameOfObject">
      <mat-option *ngFor="let customerS of customers$ | async" [value]="customerS">
        {{customerS.name}}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="fboForm.controls['customer'].hasError('required')"> Customer is required </mat-error>
  </mat-form-field>

  <mat-form-field class="fbo-create-form">
    <mat-label>Invoice date</mat-label>
    <input matInput [matDatepicker]="invoiceDatePicker" formControlName="invoiceDate">
    <mat-datepicker-toggle matSuffix [for]="invoiceDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #invoiceDatePicker></mat-datepicker>
    <mat-error *ngIf="fboForm.controls['invoiceDate'].hasError('required')"> Invoice date is required</mat-error>
  </mat-form-field>

  <mat-form-field class="fbo-create-form">
    <mat-label>Due date</mat-label>
    <input matInput [matDatepicker]="dueDatePicker" formControlName="dueDate">
    <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #dueDatePicker></mat-datepicker>
    <mat-error *ngIf="fboForm.controls['invoiceDate'].hasError('required')"> Invoice date is required</mat-error>
  </mat-form-field>

  <mat-form-field class="fbo-create-form">
    <mat-label>Invoice Number</mat-label>
    <input matInput formControlName="invoiceNumber" type="text">
    <mat-error *ngIf="fboForm.controls['invoiceDate'].hasError('required')"> Invoice date is required</mat-error>
  </mat-form-field>

  <mat-form-field class="fbo-create-form">
    <mat-label>totalAmount</mat-label>
    <input matInput formControlName="totalAmount" type="number">
    <mat-error *ngIf="fboForm.controls['totalAmount'].hasError('required')">Ttotal Amount date is required</mat-error>
  </mat-form-field>

  <mat-form-field class="fbo-create-form">
    <mat-label>Total Disount</mat-label>
    <input matInput formControlName="totalDisount" type="number">
    <mat-error *ngIf="fboForm.controls['totalDisount'].hasError('required')"> Total Disount date is required</mat-error>
  </mat-form-field>

  <mat-form-field class="fbo-create-form">
    <mat-label> Total Tax</mat-label>
    <input matInput formControlName="totalTax" type="number">
    <mat-error *ngIf="fboForm.controls['totalTax'].hasError('required')"> Total Tax date is required</mat-error>
  </mat-form-field>

  <mat-form-field class="fbo-create-form">
    <mat-label> Round Off</mat-label>
    <input matInput formControlName="roundOff" type="number">
    <mat-error *ngIf="fboForm.controls['roundOff'].hasError('required')"> Round Off date is required</mat-error>
  </mat-form-field>
  <mat-form-field class="fbo-create-form">
    <mat-label>Grand Total</mat-label>
    <input matInput formControlName="grandTotal" type="number">
    <mat-error *ngIf="fboForm.controls['grandTotal'].hasError('required')"> Grand Total date is required</mat-error>
  </mat-form-field>


  <mat-form-field class="fbo-create-form">
    <mat-label>Received</mat-label>
    <mat-select formControlName="isReceived">
      <mat-option name="payedOvertime" [value]="true">Yes</mat-option>
      <mat-option name="payedOvertime" [value]="false">No</mat-option>
    </mat-select>
    <mat-error *ngIf="fboForm.controls['isReceived'].hasError('required')">Received is required </mat-error>
  </mat-form-field>

  <table [style.display]="loading ? 'none': ''" formArrayName="saleItems" mat-table [dataSource]="dataSource" matSort
  multiTemplateDataRows class="fbo-create-form-table">
  <ng-container matColumnDef="product">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns"> Product </th>
    <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
      <mat-form-field class="fbo-create-form-table">
        <input type="text" matInput formControlName="product" [matAutocomplete]="autoProduct"
        >
        <mat-autocomplete autoActiveFirstOption #autoProduct="matAutocomplete" [displayWith]="extractNameOfObject">
          <mat-option *ngFor="let productS of productsFiltered" [value]="productS">
            {{productS.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="mrp">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns">MRP</th>
    <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
      <mat-form-field  class="fbo-create-form-table">
        <input matInput type="number" formControlName="mrp">
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="unitPrice">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns">Price</th>
    <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
      <mat-form-field  class="fbo-create-form-table">
        <input matInput type="number" formControlName="unitPrice">
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns"> Qty </th>
    <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
      <mat-form-field class="fbo-create-form-table" >
        <input matInput type="number" formControlName="quantity">
        <span matSuffix>{{findUnitCode(element)}}</span>
        
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="discount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns">Disc</th>
    <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
      <mat-form-field  class="fbo-create-form-table">
        <input matInput type="number" formControlName="discount">
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="totalAmount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns">Total</th>
    <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
      <mat-form-field  class="fbo-create-form-table">
        <input matInput type="number" formControlName="totalAmount">
      </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="batchNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="displayedColumns">Batch</th>
    <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
      <mat-form-field  class="fbo-create-form-table">
        <input matInput type="text" formControlName="batchNumber">
      </mat-form-field>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="displayedColumns" class="fiveby1-table-header"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="fiveby1-element-row"></tr>
  
  </table>

  <p class="form-submit-container">
    <button class="cancel-button" mat-button (click)="goToPreviousPage(route, router)">Cancel</button>
    <button type="submit" class="submit-button" mat-button>Save</button>
  </p>
</form>