.fbo-sale-form {
    width: 90%;
    margin-left: 5%;
}

.sale-form-field {
    width: 20%;
    min-width: 150px;
    margin-left: 3%;
}
.sale-item-product {
    width: 250px;
}
.sale-item-quantity {
    margin-left: 10px;
    width: 50px;
}
.sale-item-price {
    margin-left: 10px;
    width: 50px;
}
.sale-item-discount{
    margin-left: 10px;
    width: 50px;
}
.sale-item-totalAmount{
    margin-left: 10px;
    width: 50px;
}