.pie-chart-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pie-chart-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 150px;
}