<div class="filter-item-card" (keydown.tab)="$event.stopPropagation()" >
    <form [formGroup]="filterForm" (ngSubmit)="filterItems()">
        <div (click)="$event.stopPropagation()">

            <div class="filter-content-div">
                <mat-label class="lable">Voucher No</mat-label>
                <mat-select formControlName="numberType" class="select">
                    <mat-option value="^">Starts with</mat-option>
                    <mat-option value="">Contains</mat-option>
                    <mat-option value="eq">Equal to</mat-option>
                </mat-select>
                <mat-form-field>
                    <input matInput formControlName="number">
                </mat-form-field>
            </div>
            <div class="filter-content-div">
                <mat-label class="lable">Date</mat-label>
                <mat-select formControlName="dateType" class="select">
                    <mat-option value="eq">Equal to</mat-option>
                    <mat-option value="lt">Lesser than</mat-option>
                    <mat-option value="gt">Greater than</mat-option>
                    <mat-option value="between">Between</mat-option>
                </mat-select>
                <mat-form-field *ngIf="filterForm.controls.dateType.value !== 'between'">
                    <input matInput [matDatepicker]="picker" formControlName="date" >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div class="betweenKeyInputs" *ngIf="filterForm.controls.dateType.value === 'between'">
                    <mat-form-field class="inputPrimary">
                        <input matInput [matDatepicker]="pickerStart" formControlName="dateStart" >
                        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                        <mat-datepicker #pickerStart></mat-datepicker>
                    </mat-form-field>
                    <mat-label class="betweenlable">and</mat-label>
                    <mat-form-field class="inputPrimary">
                        <input matInput [matDatepicker]="pickerEnd" formControlName="dateEnd" >
                        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                        <mat-datepicker #pickerEnd></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <div class="filter-content-div">
                <mat-label class="lable">Amount</mat-label>
                <mat-select formControlName="transactions.amountType" class="select">
                    <mat-option value="eq">Equal to</mat-option>
                    <mat-option value="lt">Lesser than</mat-option>
                    <mat-option value="gt">Greater than</mat-option>
                    <mat-option value="between">Between</mat-option>
                </mat-select>
                
                <mat-form-field *ngIf="filterForm.controls['transactions.amountType'].value !== 'between'">
                    <input matInput type="number" formControlName="transactions.amount">
                </mat-form-field>
                
                <div class="betweenKeyInputs" *ngIf="filterForm.controls['transactions.amountType'].value === 'between'">
                    <mat-form-field class="inputPrimary">
                        <input matInput type="number" formControlName="transactions.amountStart">
                    </mat-form-field>
                    <mat-label class="betweenlable">and</mat-label>
                    <mat-form-field class="inputPrimary">
                        <input matInput type="number" formControlName="transactions.amountEnd">
                    </mat-form-field>
                </div>
            </div>

            <div class="filter-content-div">
                <mat-label class="lable">Details</mat-label>
                <mat-select formControlName="detailsType" class="select">
                    <mat-option value="^">Starts with</mat-option>
                    <mat-option value="">Contains</mat-option>
                    <mat-option value="eq">Equal to</mat-option>
                </mat-select>
                <mat-form-field>
                    <input matInput formControlName="details">
                </mat-form-field>
            </div>
       
        </div>

        <div class='filter-actions-container'>
            <button mat-button type="button" class="filtercancelbutton">Cancel</button>
            <button mat-button type="reset" class="filterresetbutton"(click)="$event.stopPropagation()">Reset</button>
            <button mat-button type="submit" class="filtersavebutton">Submit</button>
        </div>
    </form>
</div>