 
 <h3>create item</h3>
 
   <form [formGroup]="productForm">
       <div class="form">
    <mat-form-field class="details" appearance="outline" >
      <mat-label>Name</mat-label>
      <input matInput  formControlName="name" placeholder="Enter name.." >
     <mat-hint style="color:red;" *ngIf="productForm.get('name').touched && productForm.get('name').errors?.required"> 
       Name is required
     </mat-hint>
    </mat-form-field>
    
    <mat-form-field class="details"  appearance="outline" >
        <mat-label>Code</mat-label>
        <mat-select formControlName="code">
            <mat-option value="code1">tax1</mat-option>
            <mat-option value="code2">tax2</mat-option>
            <mat-option value="code3">tax3</mat-option>
        </mat-select>
        <mat-hint style="color:red;" *ngIf="productForm.get('code').touched && productForm.get('code').errors?.required"> 
          code is required
        </mat-hint>
      </mat-form-field> <br>

      <mat-form-field class="details" appearance="outline">
        <mat-label>Brand</mat-label>
        <input type="text" matInput  formControlName="brand"
               placeholder="Pick one"
               aria-label="Number"
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option  *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
        <mat-hint style="color:red;" *ngIf="productForm.get('brand').touched && productForm.get('brand').errors?.required"> 
          brand is required
        </mat-hint>
      </mat-form-field>


      <mat-form-field class="details" appearance="outline">
        <mat-label>Location</mat-label>
        <input type="text" 
               placeholder="Pick one"
               aria-label="Number"
               matInput formControlName="location"
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete   autoActiveFirstOption #auto="matAutocomplete">
          <mat-option   *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
        <mat-hint style="color:red;" *ngIf="productForm.get('location').touched && productForm.get('location').errors?.required"> 
          Location is required
        </mat-hint>
      </mat-form-field> <br>


            <mat-form-field class="text" appearance="outline">
              <mat-label>Colour</mat-label>
              <mat-chip-list formControlName="colour" #chipList aria-label="Colour selection">
                <mat-chip *ngFor="let colour of colour" [selectable]="selectable"
                         [removable]="removable" (removed)="remove(colour)">
                  {{colour.name}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Choose colour"
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
              <mat-hint style="color:red;" *ngIf="productForm.get('colour').touched && productForm.get('colour').errors?.required"> 
                Colour is required
              </mat-hint>
            </mat-form-field>
       
      
        <br>
        <mat-form-field class="text" appearance="outline" >
          
          <mat-label>picture</mat-label>
          <input matInput  formControlName="picture" placeholder="Darag and Drop images heare...." >
          <mat-hint style="color:red;" *ngIf="productForm.get('picture').touched && productForm.get('picture').errors?.required"> 
            picture is required
          </mat-hint>
        </mat-form-field> <br>
        <h5>Status</h5><br>
        <mat-button-toggle-group class="btn-toggle"  >
          <mat-button-toggle >Yes</mat-button-toggle>
          <mat-button-toggle >No</mat-button-toggle>
        </mat-button-toggle-group>
         
         <div class="parent">
        <div class="container"></div>
         <button mat-raised-button color="basic">Cancel</button>
         <button mat-raised-button color="primary">Save</button>
    </div>
  </div>
  </form>

 

 