<div class="filter-item-card" (keydown.tab)="$event.stopPropagation()" >
    <form [formGroup]="filterForm" (ngSubmit)="filterItems()">
        <div (click)="$event.stopPropagation()">

            <div class="filter-content-div">
                <mat-label class="lable">Paid Date</mat-label>
                <mat-select formControlName="paidDateType" class="select">
                    <mat-option value="eq">Equal to</mat-option>
                    <mat-option value="lt">Lesser than</mat-option>
                    <mat-option value="gt">Greater than</mat-option>
                    <mat-option value="between">Between</mat-option>
                </mat-select>


                    <mat-form-field *ngIf="filterForm.controls.paidDateType.value !== 'between'">
                    
                        <input matInput [matDatepicker]="picker" formControlName="paidDate" >
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
              

                <div class="betweenKeyInputs" *ngIf="filterForm.controls.paidDateType.value === 'between'">
                    <mat-form-field class="inputPrimary">
                        <input matInput type="number" formControlName="paidDateStart">
                    </mat-form-field>
                    <mat-label class="betweenlable">and</mat-label>
                    <mat-form-field class="inputPrimary">
                        <input matInput type="number" formControlName="paidDateEnd">
                    </mat-form-field>

                </div>
            </div>

            <div class="filter-content-div">
                <mat-label class="lable">Vendor</mat-label>
                <mat-select formControlName="vendorIdType" class="select">
                    <mat-option value="^">Equal to</mat-option>
                </mat-select>
                <mat-form-field>
                    <input matInput formControlName="vendorId"[matAutocomplete]="autoVendor">
                    <mat-autocomplete autoActiveFirstOption #autoVendor="matAutocomplete"
                        [displayWith]="extractNameOfvendor">
                        <mat-option *ngFor="let  vendor of vendorFiltered" [value]=" vendor.id">
                            {{ vendor.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div class="filter-content-div">
                <mat-label class="lable">Bill</mat-label>
                <mat-select formControlName="billIdType" class="select">
                    <mat-option value="^">Equal to</mat-option>
                </mat-select>
                <mat-form-field>
                    <input matInput formControlName="billId"[matAutocomplete]="autoBill">
                    <mat-autocomplete autoActiveFirstOption #autoBill="matAutocomplete"
                        [displayWith]="extractNameOfbill">
                        <mat-option *ngFor="let  bill of billfiltered" [value]=" bill.id">
                            {{ bill.billNumber}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div class="filter-content-div">
                <mat-label class="lable">Bank</mat-label>
                <mat-select formControlName="bankIdType" class="select">
                    <mat-option value="^">Equal to</mat-option>
                </mat-select>
                <mat-form-field>
                    <input matInput formControlName="bankId"[matAutocomplete]="autoBank">
                    <mat-autocomplete autoActiveFirstOption #autoBank="matAutocomplete"
                        [displayWith]="extractNameOfbank">
                        <mat-option *ngFor="let  bank of bankFiltered" [value]=" bank.id">
                            {{ bank.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>


            <div class="filter-content-div">
                <mat-label class="lable">Category</mat-label>
                <mat-select formControlName="CategoryType" class="select">
                    <mat-option value="^">Starts with</mat-option>
                    <mat-option value="">Contains</mat-option>
                    <mat-option value="eq">Equal to</mat-option>
                </mat-select>
                <mat-form-field>
                    <input matInput formControlName="Category">
                </mat-form-field>
            </div>

            <div class="filter-content-div">
                <mat-label class="lable">Amount</mat-label>
                <mat-select formControlName="amountType" class="select">
                    <mat-option value="eq">Equal to</mat-option>
                    <mat-option value="lt">Lesser than</mat-option>
                    <mat-option value="gt">Greater than</mat-option>
                    <mat-option value="between">Between</mat-option>
                </mat-select>


                
                    <mat-form-field  *ngIf="filterForm.controls.amountType.value !== 'between'">
                        <input matInput type="number" formControlName="amount">
                    </mat-form-field>
              

                <div class="betweenKeyInputs" *ngIf="filterForm.controls.amountType.value === 'between'">
                    <mat-form-field class="inputPrimary">
                        <input matInput type="number" formControlName="amountStart">
                    </mat-form-field>
                    <mat-label class="betweenlable">and</mat-label>
                    <mat-form-field class="inputPrimary">
                        <input matInput type="number" formControlName="amountEnd">
                    </mat-form-field>

                </div>
            </div>
        </div>

        <div class='filter-actions-container'>
            <button mat-button type="button" class="filtercancelbutton">Cancel</button>
            <button mat-button type="reset" class="filterresetbutton"(click)="$event.stopPropagation()">Reset</button>
            <button mat-button type="submit" class="filtersavebutton">Submit</button>
        </div>
    </form>
</div>