<mat-card>
    <mat-card-header>
        <mat-card-title>
        <mat-icon class="mat-5by1-white">{{summary.title.icon}}</mat-icon>
        {{summary.title.value}}
        </mat-card-title>
        <div>
        <button mat-icon-button aria-label="Horizontal menu">
            <mat-icon class="mat-5by1-white">more_horiz</mat-icon>
        </button>
        </div>
    </mat-card-header>
    <mat-card-content>
        <h3>{{summary.content}}</h3>
        <div class="d-flex justify-content-between">
        <span>{{summary.footer.left}}</span>
        <span>{{summary.footer.right}}</span>
        </div>
    </mat-card-content>
</mat-card>