<div class="filter-item-card">
    <form [formGroup]="filterForm" (ngSubmit)="filterItems()">
        <div (click)="$event.stopPropagation()">



            <div class="filter-content-div">
                <mat-label class="lable">From Account</mat-label>
                <mat-select formControlName="fromAccountType" class="select">
                    <mat-option value="^">Starts with</mat-option>
                    <mat-option value="">Contains</mat-option>
                    <mat-option value="eq">Equal to</mat-option>
                </mat-select>
                <mat-form-field>
                    <input matInput formControlName="fromAccount">
                </mat-form-field>
            </div>

            <div class="filter-content-div">
                <mat-label class="lable">To Account</mat-label>
                <mat-select formControlName="toAccountType" class="select">
                    <mat-option value="^">Starts with</mat-option>
                    <mat-option value="">Contains</mat-option>
                    <mat-option value="eq">Equal to</mat-option>
                </mat-select>
                <mat-form-field>
                    <input matInput formControlName="toAccount">
                </mat-form-field>
            </div>

            <div class="filter-content-div">
                <mat-label class="lable">Transfer Date</mat-label>
                <mat-select formControlName="transferDateType" class="select">
                    <mat-option value="eq">Equal to</mat-option>
                    <mat-option value="lt">Lesser than</mat-option>
                    <mat-option value="gt">Greater than</mat-option>
                    <mat-option value="between">Between</mat-option>
                </mat-select>


                <div class="betweenKeyInputs" *ngIf="filterForm.controls.transferDateType.value !== 'between'">
                    <mat-form-field class="inputPrimary">
                        <input matInput type="number" formControlName="transferDate">
                    </mat-form-field>
                    <mat-label class="betweenlable">and</mat-label>
                    <mat-form-field class="inputPrimary">
                        <input matInput type="number" readonly>
                    </mat-form-field>
                </div>

                <div class="betweenKeyInputs" *ngIf="filterForm.controls.transferDateType.value === 'between'">
                    <mat-form-field class="inputPrimary">
                        <input matInput type="number" formControlName="transferDateStart">
                    </mat-form-field>
                    <mat-label class="betweenlable">and</mat-label>
                    <mat-form-field class="inputPrimary">
                        <input matInput type="number" formControlName="transferDateEnd">
                    </mat-form-field>

                </div>
            </div>


            <div class="filter-content-div">
                <mat-label class="lable">Amount</mat-label>
                <mat-select formControlName="amountType" class="select">
                    <mat-option value="eq">Equal to</mat-option>
                    <mat-option value="lt">Lesser than</mat-option>
                    <mat-option value="gt">Greater than</mat-option>
                    <mat-option value="between">Between</mat-option>
                </mat-select>


                <div class="betweenKeyInputs" *ngIf="filterForm.controls.amountType.value !== 'between'">
                    <mat-form-field class="inputPrimary">
                        <input matInput type="number" formControlName="amount">
                    </mat-form-field>
                    <mat-label class="betweenlable">and</mat-label>
                    <mat-form-field class="inputPrimary">
                        <input matInput type="number" readonly>
                    </mat-form-field>
                </div>

                <div class="betweenKeyInputs" *ngIf="filterForm.controls.amountType.value === 'between'">
                    <mat-form-field class="inputPrimary">
                        <input matInput type="number" formControlName="amountStart">
                    </mat-form-field>
                    <mat-label class="betweenlable">and</mat-label>
                    <mat-form-field class="inputPrimary">
                        <input matInput type="number" formControlName="amountEnd">
                    </mat-form-field>

                </div>
            </div>



       
        </div>

        <div class='filter-actions-container'>
            <button mat-button type="button" class="filtercancelbutton">Cancel</button>
            <button mat-button type="submit" class="filtersavebutton">Submit</button>
        </div>
    </form>
</div>