.form-header {
  margin-top: 3%;
  margin-left: 10%;
}
.tax-create-form{
    width: 40%;
    margin-left: 10%;
}

.tax-create-form .mat-form-field {
    width: 100%;
    min-width: 300px;
}

.tax-submit-container {
    width: 100%;
    display: flex;
    justify-content: right;
  }
  .cancel-button{
    width: 22%;
    background-color: rgba(0,98,255, .3);
    color: #0062FF;
  }
  .submit-button{
    width: 22%;
    background-color: #0062FF;
    color: #FFFFFF;
    margin-left: 4%;
  }