<div class="create-tax">
<form>  
  <h2>Create Taxes</h2>
   
  <mat-form-field class="details" appearance="outline">
    <mat-label>Group colour</mat-label>
    <mat-select [formControl]="groupname" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let Gname of Gnames" [value]="Gname">
        {{Gname.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="groupname.hasError('required')">Please choose a Group name</mat-error> 
  </mat-form-field>
  
  <mat-form-field class="details" appearance="outline">
    <mat-label>Name</mat-label>
    <input [formControl]="name" type="text"  matInput placeholder="enter name" >
    <mat-error *ngIf="name.hasError('required')">Please write name</mat-error> 
  </mat-form-field> <br>
  
  <mat-form-field class="details" appearance="outline">
    <mat-label>Rate</mat-label>
    <input [formControl]="rate" matInput type="number" placeholder="enter rate"  >
    <mat-error *ngIf="rate.hasError('required')">Name is required</mat-error>
  </mat-form-field>
  
  <mat-form-field class="details" appearance="outline">
    <mat-label>AppliedTo</mat-label>
    <input [formControl]="appliedTo" matInput type="number" placeholder="enter rate"  >
    <mat-error *ngIf="appliedTo.hasError('required')">complte the feature</mat-error>
  </mat-form-field><br>
  <button class="btn-save" mat-raised-button>save</button>
  </form>
</div>