:host ::ng-deep .mat-select-value{
    text-align: start !important; 
    font-size: small;
    width: 80% !important;
  }
  :host ::ng-deep .mat-select {
    display: inline-block;
    width: 0;
    outline: none;
  }
  :host ::ng-deep .mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    border: 1px solid  #E3E3E3 !important;
   border-radius: 3px; 
   width: 100%;
    }
  :host ::ng-deep  .mat-form-field-infix {
    display: block; 
    position: relative;
    flex: auto;
    min-width: 0;
  width: none !important ;
  font-size: small;
  }
  :host ::ng-deep .mat-form-field-underline {
    display: none;
    position: absolute;
    width: 100%;
    pointer-events: none;
    transform: scale3d(1, 1.0001, 1);
  }
  :host ::ng-deep   .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0em; 
    }
  :host ::ng-deep.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0px 5px;
    
  }
  .betweenKeyInputs{
    display: flex;
    align-items: flex-end;
    font: -webkit-small-control !important;
   
  }
  .inputPrimary{
    width: 75px;
  
  }
  .betweenlable{
    margin: 0 5px;
  }
  .lable {
    min-width: 95px;
    padding-right: 10px;
    overflow: hidden;
  }
  