
.fiveby1-table {
    width: 100%;
  }
  .fiveby1-table-header {
    background-color: #0062FF22;
    height: 40px;
  }
  tr.fiveby1-detail-row {
    height: 0;
    background-color: #0062FF22;
  }
  
  tr.fiveby1-element-row:not(.fiveby1-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.fiveby1-element-row:not(.fiveby1-expanded-row):active {
    background: #efefef;
  }
  
  .fiveby1-element-row td {
    border-bottom-width: 0;
  }
  
  .fiveby1-element-detail {
    overflow: hidden;
  }
  .extra-row{
    width: 100%;
  }
  .extra-row span {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
  }