<h2 class="form-header">{{formHeader}} </h2>

<div *ngIf="loading">
  <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
</div>
<form [style.display]="loading ? 'none': ''" [formGroup]="form" class="fbo-create-form" (ngSubmit)="upsertBranch()">

  <p>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Enter Name">
      <mat-error *ngIf="form.controls['name'].hasError('required')">Please Enter Name</mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <mat-label>Code</mat-label>
      <input formControlName="code" matInput placeholder="Enter Code">
      <mat-error *ngIf="form.controls['code'].hasError('required')">Please Enter Code</mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput placeholder="Enter E-mail">
      <mat-error *ngIf="form.controls['email'].hasError('required')">Please Enter E-mail</mat-error>

    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input formControlName="address" matInput placeholder="Enter Address">
      <mat-error *ngIf="form.controls['address'].hasError('required')">Please Enter Address</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>FinYearStartDate</mat-label>
 
      <input matInput [matDatepicker]="finYearStartDate" formControlName="finYearStartDate">
      <mat-datepicker-toggle matSuffix [for]="finYearStartDate"></mat-datepicker-toggle>
      <mat-datepicker #finYearStartDate></mat-datepicker>
      <mat-error *ngIf="form.controls['finYearStartDate'].hasError('required')">Please Enter FinYearStartDate</mat-error>

    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <mat-label>DefaultFinYear</mat-label>
      <input formControlName="defaultFinYear" matInput placeholder="Enter DefaultFinYear" [matAutocomplete]="autoFinyear">
      <mat-autocomplete autoActiveFirstOption #autoFinyear="matAutocomplete" [displayWith]="extractNameOfObject">
        <mat-option *ngFor="let finyearS of finyearFiltered" [value]="finyearS">
          {{finyearS.name}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="form.controls['defaultFinYear'].hasError('required')">Please Enter DefaultFinYear</mat-error>
    </mat-form-field>
  </p>

  <p class="form-submit-container">
    <button class="cancel-button" mat-button (click)="goToPreviousPage(route,router)">Cancel</button>
    <button class="submit-button" mat-button>save</button>
  </p>

</form>