<div class="table-header-container">
  <span class="table-header">{{tableHeader}}</span>
  <div class="empy-space"></div>
  <button mat-flat-button class="filter-button" [disabled]="selection.selected.length < 1"
  (click)="deleteSelected()">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-flat-button class="filter-button" [disabled]="selection.selected.length !== 1"
  (click)="editSelected()">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-flat-button class="filter-list-button" [matMenuTriggerFor]="menu">
    <mat-icon>filter_alt</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div >
      <ng-template filterHost ></ng-template>
    </div>
  </mat-menu>
</div>
<div *ngIf="loading">
  <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
</div>
<table [style.display]="loading ? 'none': ''" mat-table [dataSource]="dataSource" multiTemplateDataRows matSort
  class="fiveby1-table">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" *ngIf="row.id"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  
  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumnsO">
    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="isSortingDisabled(column)" [arrowPosition]="findArrowPos(column)" class="fbo-table-th"> {{columnHeaders[column]}} </th>
    <td mat-cell *matCellDef="let element" [class]="findCssClass(column)"> {{findColumnValue(element, column, columnParsingFn)}} </td>
  </ng-container>

  <!-- Expandable section -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsO.length + 1">
      <div class="fiveby1-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div *ngFor="let column of extraColumns" class="extra-row">
          <span>{{columnHeaders[column]}}</span>
          <span>{{findColumnValue(element, column, columnParsingFn)}}</span>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsS" class="fiveby1-table-header"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumnsS;" class="fiveby1-element-row"
    [class.fiveby1-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element"></tr>

  <tr mat-row *matRowDef="let element; columns: ['expandedDetail']" class="fiveby1-detail-row"></tr>
</table>
<mat-paginator *ngIf="showPaginator" [style.display]="loading ? 'none': ''" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons
  class="fob-table-paginator" [length]="totalItems" [pageIndex]="pageIndex"></mat-paginator>