.table-header {
    font-weight: 500;
    margin-top: 0.5em;
}

.table-header-container {
    display: flex;
    margin-top: 2em;
}

.empy-space {
    flex: 1 1;
}

.filter-button {
    background-color: #0062FF;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 400;
    margin-left: 1em;
    margin-bottom: 1em;
    min-width: 30px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.filter-list-button {
    background-color: #0062FF;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 400;
    margin-left: 1em;
    margin-bottom: 1em;
    min-width: 30px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.fiveby1-table {
    width: 100%;
}

.fiveby1-table-header {
    background-color: #0062FF22;
    height: 40px;
}

th.fbo-table-th {
    padding-right: 80px;
    padding-left: 1%;
}

tr.fiveby1-detail-row {
    height: 0;
    background-color: #0062FF22;
}

tr.fiveby1-element-row:not(.fiveby1-expanded-row):hover {
    background: whitesmoke;
}

tr.fiveby1-element-row:not(.fiveby1-expanded-row):active {
    background: #efefef;
}

.fiveby1-element-row td {
    border-bottom-width: 0;
    padding-right: 12px;
    word-break: break-all;
}

.fiveby1-element-row td.column-right-align {
    padding-right: 5%;
    text-align: right;
}

.fiveby1-element-detail {
    overflow: hidden;
}

.extra-row {
    width: 100%;
}

.extra-row span {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.fob-table-paginator {
     ::ng-deep {
        .mat-paginator-outer-container {
            display: inherit;
        }
    }
}

::ng-deep.mat-menu-panel {
    max-width: none !important;
}