.inputPrimary{
    width: 75px;
  
  }

  .betweenlable{
    margin: 0 5px;
  }

.lable {
    min-width: 95px;
    padding-right: 10px;
    overflow: hidden;
  }

  .betweenKeyInputs{
    display: flex;
    align-items: flex-end;
    font: -webkit-small-control !important;
   
  }