<div class="header-container">
  <span class="main-header">{{mainHeader}}</span>
  <div class="empy-space"></div>
  <button mat-flat-button class="tool-bar-button">
    <mat-icon>save_alt</mat-icon><span class="tool-bar-button-caption">Import</span>
  </button>
  <button mat-flat-button class="tool-bar-button">
    <mat-icon>ios_share</mat-icon><span class="tool-bar-button-caption">Export</span>
  </button>
  <button mat-flat-button class="add-new-button">
    <mat-icon class="tool-bar-button-caption">add</mat-icon><span  (click)='onPaymentClick()'>Payments</span>
  </button>
  <button mat-flat-button class="add-new-button">
    <mat-icon class="tool-bar-button-caption">add</mat-icon><span (click)='onRevenueClick()'>Revenues</span>
  </button>
</div>

<app-data-table tableHeader="List of Transaction"
[displayedColumns]="displayedColumns"
[columnHeaders]="columnHeaders"
[loading]="loading"
[tableData]="transactions"
[columnParnsingFn]="columnParsingFn"
[filterItem]="filterItem"
></app-data-table>
