
  :host ::ng-deep .mat-header-row{
  background-color: #0062FF22;
  width: 100%;
  
  }

  :host ::ng-deep .mat-row{
 
    width: 100%;
    padding-left: 24px;
    
    }
:host ::ng-deep .mat-table {
 width: 100%;
}
.sectionHeader{
  font-size: 14px;
  font-weight: 500;
  padding-top: 25px;
  padding-bottom: 15px;
}

  
