
.sectionHeader{
  font-size: 14px;
  font-weight: 500;
  padding-top: 25px;
  padding-bottom: 15px;
}


.main-header{
  font-weight: 900;
  margin-top: 0.5rem;
}
.header-container{
  display: flex;
}
  
.add-new-button{
  background-color:#0062FF;
  color: #FFFFFF;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;

  margin-left: 1em;
  margin-bottom: 1em;
  min-width: 39px;
  padding-left: 0.3em;
}
.tool-bar-button {
  background-color:#0062FF22;
  color: #0062FF;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 400;
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin-left: 1em;
  margin-bottom: 1em;
  min-width: 35px;
  padding-left: 0.5em;

}
.table-header-container{
  display: flex;
  margin-top: 2em;
}

.empy-space{
  flex: 1 1;
}  

:host ::ng-deep .filter-button {
  display: none;
}
:host ::ng-deep .mat-checkbox {
  display: none;

}

@media screen and (max-width: 960px) {
  .tool-bar-button-caption{
      display: none
  }

.add-new-button {
  background-color:#0062FF;
  color: #FFFFFF;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
    margin-left: 0.2em;
    margin-bottom: 1em;
    min-width: 60px;
    padding-left: 0.3em;
}
.tool-bar-button{
  margin-left: 0.2em;

}


:host ::ng-deep .filter-button {
  display: none;
}
:host ::ng-deep .mat-checkbox {
  display: none;

}

  
}