 .button{
     padding-top: 10px;
     display: flex;
     align-items: center;
     padding-bottom: 25px;
     padding-right: 25px;
      
 }
 .item{
     
     flex: 1 1;
     
 }
 button{
     margin-left: 2rem;
     
 }

 .heading{
     font-weight: bold;
 }

 .btn-background{
     background:rgba(0,98,255,0.3);
 }
  
 