.heading{
  font-weight: bold;
  margin-top: 0.5rem;
}

.btn-align{
  display: flex;
}

.container{
  flex: 1 1;
}


.btn-background{
background-color:#0062FF
}
button{
margin-left: 2rem;
margin-bottom: 1rem;
}
table {
    width: 100%;
    
  }

.payment{
    margin-left: 4rem; 
    margin-right: 4rem;
    margin-top: 2rem;
}


@media screen and (max-width: 960px) {
      
    .mat-table .mat-header-cell {
      display:none;
    }
    
    .mat-table .mat-cell {
      
      display: block;
      text-align: right;
      margin-bottom: 4%;
      border-bottom: 1px solid #ddd;
      height:40px;
      margin-left: 10px;
      margin-right: 10px;
       
    }
    .mat-table .mat-cell:before {
     
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: normal;
      
    }
    .mat-table .mat-cell:last-child {
        padding-right: 0%;
      border-bottom: 0; 
      height:60px;
      border-bottom: 8px solid #ddd;
      display: block;
    }
      .mat-table .mat-cell:first-child {
        padding-left: 0%;
        margin-top: 4%;
        
    }
    .payment{
       
       width: 95%;
       margin-left: 0%;
       margin-right:0%;
    }
    
    .btn-none{
      display: none;
    }
    button{
      margin-left: 4%;
    }
  }
 
 