:host ::ng-deep {
    .chart {
      .ngx-charts {
        float: none;
      }
    }
  
    .chart-legend {
      .legend-labels {
        background-color: transparent;
    
        .legend-label-text {
          color: rgba(#1E3354, .8);
          font-size: 13px;
          font-weight: 500;
        }
      }
    }
  }
  .legend-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.line-chart-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line-chart-area{
    width: 100%;
    height: 300px;
}
.dashboard-5by1-card-title-container{
    display: flex;
    align-content:center;
    line-height: 2;
    span {
        padding-left: 10px;
    }
}
.dashboard-5by1-card-title-text{
  font-size: 15px;
  color: rgba(#1E3354, .8);
}