h3{
  margin-top:2rem;
  font-weight: bold;
}

table {
    width: 100%;
  }

  .customer{
  margin-left: 4rem;
  margin-right:4rem;
  }

  .btn-align{
    display: flex;
  }

  .btn-add{
    flex: 1 1;
     
  }
  button{
    background-color:#0062FF
  }