<div class="filter-item-card" id="filter-dialog">
    <div (click)="$event.stopPropagation()">

        <div class="filter-content-div">
            <mat-label class="lable">Name</mat-label>
            <mat-select [(value)]="selectedone" class="select">
                <mat-option value="one"> Starts with</mat-option>
                <mat-option value="two">Contains</mat-option>
            </mat-select>
            <mat-form-field class="forminput">

                <input matInput>
            </mat-form-field>
        </div>

        <div class="filter-content-div">
            <mat-label class="lable">E-Mail</mat-label>
            <mat-select [(value)]="selectedtwo" class="select">
                <mat-option value="one">Starts with</mat-option>
                <mat-option value="two">Contains</mat-option>
            </mat-select>
            <mat-form-field class="forminput">
                <input matInput>
            </mat-form-field>
        </div>

        <div class="filter-content-div">
            <mat-label class="lable">Mobile</mat-label>
            <mat-select [(value)]="selectedthree" class="select">
                <mat-option value="one">Starts with</mat-option>
                <mat-option value="two">Contains</mat-option>
            </mat-select>
            <mat-form-field class="forminput">

                <input matInput type="tetx">
            </mat-form-field>
        </div>

        <div class="filter-content-div">
            <mat-label class="lable">State</mat-label>
            <mat-select [(value)]="selectedfour" class="select">
                <mat-option value="one">Starts with</mat-option>
                <mat-option value="two">Contains</mat-option>
            </mat-select>
            <mat-form-field class="forminput">

                <input matInput type="text">
            </mat-form-field>
        </div>
        <div class="filter-content-div">
            <mat-label class="lable">Address</mat-label>
            <mat-select [(value)]="selectedfive" class="select">
                <mat-option value="one">Starts with</mat-option>
                <mat-option value="two">Contains</mat-option>
            </mat-select>
            <mat-form-field class="forminput">

                <input matInput type="text">
            </mat-form-field>
        </div>

        <div class="filter-content-div">
            <mat-label class="lable">GST No</mat-label>
            <mat-select [(value)]="selectedsix" class="select">
                <mat-option value="one">Starts with</mat-option>
                <mat-option value="two">Contains</mat-option>
            </mat-select>
            <mat-form-field class="forminput">

                <input matInput type="text">
            </mat-form-field>
        </div>

    </div>

    <div class='filter-actions-container'>
        <button mat-button class="filtercancelbutton">Cancel</button>
        <button mat-button class="filtersavebutton">Submit</button>

    </div>
</div>