<div class="header-container">
    <span class="main-header">{{mainHeader}}</span>
    <div class="empy-space"></div>
    <button mat-flat-button class="tool-bar-button">
      <mat-icon>save_alt</mat-icon><span class="tool-bar-button-caption">Import</span>
    </button>
    <button mat-flat-button class="tool-bar-button">
      <mat-icon>ios_share</mat-icon><span class="tool-bar-button-caption">Export</span>
    </button>
    <button mat-flat-button class="add-new-button" routerLink="{{createUri}}">
      <mat-icon>add</mat-icon><span class="tool-bar-button-caption">Add new</span>
    </button>
  </div>
  <div class="sub-header-container">
    <span class="sub-header">{{subHeader}}</span>
    <div class="empy-space"></div>
    <button mat-flat-button class="add-new-button filter-button">
      <mat-icon>filter_alt</mat-icon>
    </button>
  </div>