
.main-header{
  font-weight: 900;
  margin-top: 0.5rem;
}
.header-container{
  display: flex;
}
  
.add-new-button{
  background-color:#0062FF;
  color: #FFFFFF;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 400;
  margin-left: 1em;
  margin-bottom: 1em;
}
.tool-bar-button {
  background-color:#0062FF22;
  color: #0062FF;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 400;
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin-left: 1em;
  margin-bottom: 1em;
}

.empy-space{
  flex: 1 1;
}  

  @media screen and (max-width: 960px) {
    .tool-bar-button-caption{
        display: none;
    }
  }