<div class="filter-item-card">
    <form [formGroup]="filterForm" (ngSubmit)="filterItems()">
        <div (click)="$event.stopPropagation();$event.preventDefault()">

            <div class="filter-content-div">
                <mat-label class="lable">Name</mat-label>
                <mat-select class="select" formControlName="nameType">
                    <mat-option value="^">Starts with</mat-option>
                    <mat-option value="">Contains</mat-option>
                    <mat-option value="eq">Equal to</mat-option>
                </mat-select>
                <mat-form-field class="forminput">
                    <input matInput formControlName="name">
                </mat-form-field>
            </div>

            <div class="filter-content-div">
                <mat-label class="lable">LedgerGroup</mat-label>
                <mat-select formControlName="ledgerGroupType" class="select">
                    <mat-option value="^">Starts with</mat-option>
                    <mat-option value="">Contains</mat-option>
                    <mat-option value="eq">Equal to</mat-option>
                </mat-select>
                <mat-form-field>
                    <input matInput formControlName="ledgerGroup">
                </mat-form-field>
            </div>
        </div>

        <div class='filter-actions-container'>
            <button mat-button type="button" class="filtercancelbutton">Cancel</button>
            <button mat-button type="submit" class="filtersavebutton">Submit</button>
        </div>
    </form>
</div>