<div class="filter-item-card">
    <form [formGroup]="filterForm" (ngSubmit)="filterItems()">
        <div (click)="$event.stopPropagation()">

            <div class="filter-content-div">
                <mat-label class="lable">Type</mat-label>
                <mat-select formControlName="typeType" class="select">
                    <mat-option value="^">Starts with</mat-option>
                    <mat-option value="">Contains</mat-option>
                    <mat-option value="eq">Equal to</mat-option>
                </mat-select>
                <mat-form-field>
                    <input matInput formControlName="type">
                </mat-form-field>
            </div>

            <div class="filter-content-div">
                <mat-label class="lable">Name</mat-label>
                <mat-select formControlName="nameType" class="select">
                    <mat-option value="^">Starts with</mat-option>
                    <mat-option value="">Contains</mat-option>
                    <mat-option value="eq">Equal to</mat-option>
                </mat-select>
                <mat-form-field>
                    <input matInput formControlName="name">
                </mat-form-field>
            </div>

            <div class="filter-content-div">
                <mat-label class="lable">Opening Bal.</mat-label>
                <mat-select formControlName="openingBalanceType" class="select">
                    <mat-option value="eq">Equal to</mat-option>
                    <mat-option value="lt">Lesser than</mat-option>
                    <mat-option value="gt">Greater than</mat-option>
                    <mat-option value="between">Between</mat-option>
                </mat-select>
                
                <mat-form-field *ngIf="filterForm.controls.openingBalanceType.value !== 'between'">
                    <input matInput type="number" formControlName="openingBalance">
                </mat-form-field>
                
                <div class="betweenKeyInputs" *ngIf="filterForm.controls.openingBalanceType.value === 'between'">
                    <mat-form-field class="inputPrimary">
                        <input matInput type="number" formControlName="openingBalanceStart">
                    </mat-form-field>
                    <mat-label class="betweenlable">and</mat-label>
                    <mat-form-field class="inputPrimary">
                        <input matInput type="number" formControlName="openingBalanceEnd">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class='filter-actions-container'>
            <button mat-button type="button" class="filtercancelbutton">Cancel</button>
            <button mat-button type="submit" class="filtersavebutton">Submit</button>
        </div>
    </form>
</div>