<div class="logo">
  <img src="/assets/images/logo/logo.svg" />
</div>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree-5b1">

  <!-- This is the tree node template for leaf nodes -->
  <!-- There is inline padding applied to this node using styles.
      This padding value depends on the mat-icon-button width. -->
  <mat-tree-node *matTreeNodeDef="let node" (click)="handleMenuClick(node)" matTreeNodeToggle class="tree-label"
    [ngClass]="{ 'menu-selected': activeNode === node }">
    <div class="mat-tree-node" [ngClass]="{'menu-drawer-closed':!leftMenuDrawerOpened}">
      <mat-icon class="menu-right-icon" *ngIf="node.icon">{{node.icon}}</mat-icon>
      <span class="tree-label" *ngIf="leftMenuDrawerOpened">{{node.name}}</span>
    </div>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" (click)="handleMenuClick(node)"
    [ngClass]="{ 'menu-selected': activeNode === node }">
    <div class="mat-tree-node" [ngClass]="{'menu-drawer-closed':!leftMenuDrawerOpened}">
      <mat-icon class="menu-right-icon" *ngIf="node.icon">{{node.icon}}</mat-icon>
      <span *ngIf="leftMenuDrawerOpened" class="parent-label">
        {{node.name}}
      </span>
      <button mat-icon-button matTreeNodeToggle *ngIf="leftMenuDrawerOpened">
        <mat-icon class="mat-icon-rtl-mirror menu-expand-icon">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
    </div>
    <!-- There is inline padding applied to this div using styles.
            This padding value depends on the mat-icon-button width.  -->
    <div [class.tree-invisible-5b1]="!treeControl.isExpanded(node) || !leftMenuDrawerOpened" role="group">
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>