<div class="filter-item-card">
    <form [formGroup]="filterForm" (ngSubmit)="filterItems()">
        <div (click)="$event.stopPropagation()">

            <div class="filter-content-div">
                <mat-label class="lable">Group Name</mat-label>
                <mat-select class="select" formControlName="groupNameType">
                    <mat-option value="^">Starts with</mat-option>
                    <mat-option value="">Contains</mat-option>
                    <mat-option value="eq">Equal to</mat-option>
                </mat-select>
                <mat-form-field class="forminput">
                    <input matInput formControlName="groupName">
                </mat-form-field>
            </div>

            <div class="filter-content-div">
                <mat-label class="lable">Name</mat-label>
                <mat-select formControlName="nameType" class="select">
                    <mat-option value="^">Starts with</mat-option>
                    <mat-option value="">Contains</mat-option>
                    <mat-option value="eq">Equal to</mat-option>
                </mat-select>
                <mat-form-field>
                    <input matInput formControlName="name">
                </mat-form-field>
            </div>

            <div class="filter-content-div">
                <mat-label class="lable">Rate (%)</mat-label>
                <mat-select formControlName="rateType" class="select" >
                    <mat-option value="eq">Equal to</mat-option>
                    <mat-option value="lt">Lesser than</mat-option>
                    <mat-option value="gt">Greater than</mat-option>
                    <mat-option value="between">Between</mat-option>
                </mat-select>


                    <mat-form-field  *ngIf="filterForm.controls.rateType.value !== 'between'">
                        <input matInput type="number" formControlName="rate">
                    </mat-form-field>
                  

                <div class="betweenKeyInputs" *ngIf="filterForm.controls.rateType.value === 'between'">
                    <mat-form-field class="inputPrimary">
                        <input matInput type="number" formControlName="rateStart">
                    </mat-form-field>
                    <mat-label class="betweenlable">and</mat-label>
                    <mat-form-field class="inputPrimary">
                        <input matInput type="number" formControlName="rateEnd">
                    </mat-form-field>

                </div>

            </div>



            <div class="filter-content-div">
                <mat-label class="lable">Applied to(%)</mat-label>
                <mat-select formControlName="appliedToType" class="select">
                    <mat-option value="eq">Equal to</mat-option>
                    <mat-option value="lt">Lesser than</mat-option>
                    <mat-option value="gt">Greater than</mat-option>
                    <mat-option value="between">Between</mat-option>
                </mat-select>


                    <mat-form-field *ngIf="filterForm.controls.appliedToType.value !== 'between'">
                        <input matInput type="number" formControlName="appliedTo">
                    </mat-form-field>
                 

                <div class="betweenKeyInputs" *ngIf="filterForm.controls.appliedToType.value === 'between'">
                    <mat-form-field class="inputPrimary">
                        <input matInput type="number" formControlName="appliedToStart">
                    </mat-form-field>
                    <mat-label class="betweenlable">and</mat-label>
                    <mat-form-field class="inputPrimary">
                        <input matInput type="number" formControlName="appliedToEnd">
                    </mat-form-field>

                </div>
            </div>
        </div>

        <div class='filter-actions-container'>
            <button mat-button type="button" class="filtercancelbutton">Cancel</button>
            <button mat-button type="submit" class="filtersavebutton">Submit</button>
        </div>
    </form>
</div>